<?xml version="1.0" encoding="UTF-8"?>
<web-app id="fc-server" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
		<!-- 
		<init-param>
			<param-name>config-location</param-name>
			<param-value>/WEB-INF/cxf-servlet.xml</param-value>
		</init-param>
		 -->
	</servlet-mapping>

	<servlet>    	
   	 	<display-name>PersistenceServlet</display-name>
   	 	<servlet-name>PersistenceServlet</servlet-name>
    	<servlet-class>org.fosstrak.ale.server.persistence.PersistenceServlet</servlet-class>
    	<load-on-startup>2</load-on-startup>
  	</servlet>
  	
  	<servlet-mapping>
    	<servlet-name>PersistenceServlet</servlet-name>
    	<url-pattern>/PersistenceServlet</url-pattern>
  	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
